.bold {
  font-weight: bold;
}
.tutorcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 50%;
  padding: 40px;
  margin: 20px;
  color: red;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #1334d9;
}
